*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
}
body{
    height: 100%;
    width: 100%;
    background-color: white;

}

header{
    height: 68px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 10;
}

a{
    color: black;
}

.nav-links{
    display: flex;
    gap: 15px;
}

main{
    padding: 50px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

h2{
    text-align: center;
}

.Intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

span{
    color: #0000ff;
}

#hire-btn{
    height: 30px;
    width: 70px;
    color: white;
    border-radius: 5px;
    padding: 5px;
    background-color: blue;
   text-align: center;
   margin-top: 5px;
   margin-bottom: 10px;
}


#photo{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: skyblue;
    overflow: hidden;
    box-shadow: 5px 5px 5px 0px rgb(170, 159, 159);
}

#About{
    width: 70%;
    text-align: center;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.button{
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 5px 5px 5px 0px rgb(170, 159, 159);
}

#Projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.projects{
    width: 300px;
    box-shadow: 5px 5px 5px 0px rgb(170, 159, 159);
}

button{
    width: 100%;
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
}


input{
    height: 40px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px 0px;
}
textarea{
    height:80px;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0px;
}

footer{
    height: 68px;
    padding: 20px;
    text-align: center;
}

